<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Jayesh Kawli" />
        <title>Angular JS - Learning</title>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<div>
<div data-ng-view=""></div>
</div>
<script>

var demoApp=angular.module('demoApp',[])
.factory('simpleFactory',function(){
    var factory={};
    var customers=[{name:'jayeshfff',city:'kawli'},{name:'swati',city:'chicago'},{name:'manali',city:'cali'},{name:'me',city:'ny'}];

    factory.getCustomers=function(){
        return customers;
    }
    factory.postCustomers=function(customer){
        customers.push(customer);
    }
    return factory;
})


var data=1;
demoApp.config(function ($routeProvider){
$routeProvider
.when('/view1/',{
    controller:'SimpleController',
    templateUrl:'view1.html'
})
.when('/view2',{
    controller:'SimpleController3',
    templateUrl:'view2.html'
})
.otherwise({redirectTo:'/'});
});



var controllers={};

function SimpleController($scope){
    $scope.namess=[{name:'jayesh',city:'kawli'},{name:'swati',city:'chicago'},{name:'manali',city:'cali'},{name:'me',city:'ny'}];


$scope.addCustomer=function(){
$scope.namess.push({name:$scope.newCustomer.name,city:$scope.newCustomer.city});

};

}
function SimpleController1($scope){
    $scope.namesss=[{name:'jayesh1',city:'kawli1'},{name:'swati',city:'chicago'},{name:'manali',city:'cali'},{name:'me',city:'ny'}];
}

function SimpleController3($scope){
    $scope.namess=[{name:'jayesh2',city:'kawli1'},{name:'swati',city:'chicago'},{name:'manali',city:'cali'},{name:'me',city:'ny'}];
}

controllers.initController=SimpleController3;
controllers.simpleController=function($scope,simpleFactory){
    $scope.customers=simpleFactory.getCustomers();
$scope.addCustomer=function(){
simpleFactory.getCustomers().push({name:$scope.newCustomer.name,city:$scope.newCustomer.city});    
}
}

demoApp.controller(controllers);





</script>        
        

        <!-- add scripts -->
       
    </head>
    <body ng-controller="SimpleController">

        
        <div class="container" ng-init="names=[{name:'jayesh',city:'kawli'},{name:'swati',city:'chicago'},{name:'manali',city:'cali'},{name:'me',city:'ny'}]">
        Name: <input type="text" ng-model="name"/>{{name}}


        <ul>
<li ng-repeat="name in names|filter:name|orderBy:'city'">{{name.city|uppercase}} - {{name.name|uppercase}}</li>
        </ul>
        <br/>



</div>

<div class="container" ng-controller="SimpleController">

<input type="text" ng-model="name">{{name}}
<ul>
<li ng-repeat="name in namess|filter:name">{{name.name}}-{{name.city}}</li>
</ul>


</div>


<div class="container" ng-controller="simpleController">

<input type="text" ng-model="name">{{name}}
<ul>
<li ng-repeat="name in customers|filter:name">{{name.name}}-{{name.city}}</li>
</ul>

New name:<input type="name" ng-model="newCustomer.name">
    New city:<input type="name" ng-model="newCustomer.city">
    <button ng-click="addCustomer()">Click me!</button>

</div>


<div class="container" ng-controller="SimpleController1">

<input type="text" ng-model="name">{{name}}
<ul>
<li ng-repeat="name in namesss|filter:name">{{name.name}}-{{name.city}}</li>
</ul>
</div>

<div class="container" ng-controller="SimpleController3">
        <a href="#/view1">go to view1</a>
        <a href="#/view2">go to view2</a>

<input type="text" ng-model="name">{{name}}
<ul>
<li ng-repeat="name in namess|filter:name">{{name.name}}-{{name.city}}</li>
</ul>
</div>



    </body>
</html>