<html>
<head>
	<title>View1</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
</head>

<body>
Name:<input type="text" ng-model="name">{{name}}
	<ul>
<li ng-repeat='name in namess|filter:name'>{{name.name}}</li>

	</ul>
	New name:<input type="name" ng-model="newCustomer.name">
	New city:<input type="name" ng-model="newCustomer.city">
	<button ng-click="addCustomer()">Click me!</button>
	<a href="#/view2">go to view2</a>
	<a href="#/UsingDirectivesWithDataBinding">Go Home</a>
	</body>

</html>