#heading
{
border:5px solid #a1a1a1;
border-radius:25px;
/*margin-left: auto;
margin-right: auto;

*/background-color:#AD9DC2;

}
div#top-page
{
z-index:-1000;
float:left;
padding:25px;

}
li#cpp
{
list-style-image: url('cpp.png');
}
li#java
{
list-style-image: url('java.png');
}
li#php
{
list-style-image: url('php.png');
}
li#python
{
list-style-image: url('python.png');
}
div.head-gen
{
background-color:#9C8FB0;
font-weight:bold;
}
#center_element
{
/*
margin-left:auto;
margin-right:auto;
*/
}
.padding-general
{
box-shadow: 10px 10px 5px #888888;
padding:20px;
}
div#objective
{
word-wrap:break-word;
background-color:#AD9DC2;
}
div#education
{

background-color:#C1B0D9;
}
div#work-experience
{

background-color:#C1B0D9;
}
div#technical-skills-and-languages
{

background-color:#C2C1E0;
}
div#academic-projects
{

background-color:#C2C1E0;
}
p#heading
{
position:fixed;
background-color:#C2C1E0;
}
div.left-margin
{

margin-left:70px;
}
div#main-margin
{

margin-left:250px;
/*background-color:white;*/
background-image:url('background1.jpg');
width:70%;
padding: 25px;
}
div.ending
{
background:#2D85F0;
height:10px;
width:90%;
margin:auto;'
}
div.ending_first
{
background:#2D85F0;
height:10px;
width:70%;
margin:auto;'
}
div.ending_second
{
background:#2D85F0;
height:10px;
width:50%;
margin:auto;'
}
div.ending_third
{
background:#2D85F0;
height:20px;
width:30%;
margin:auto;'
}
body
{
background-image:url('background.jpg');
background-repeat:no-repeat;
background-size:100%;
background-attachment:fixed;
/*background-color:#D3BFE6;*/
}
ul
{
list-style-type:square;
}
h2,h3,h4
{
text-decoration:underline;
}
p.indent-text
{
text-indent:50px;
}
div#academic-projects ul:hover
{
font-size:110%;

border-style:solid;
border-width:2px;
border-style:inset;

}
a {
outline: 3;
text-decoration: underline;
}

a:link {
color: black;
}

a:visited {
color: blue;
}

a:hover {
color: green;
}

a:active {
color: red;
}
.move-left
{
float:left;
}
.move-right-left
{
margin-right:100px;
float:right;
}
h4#add
{
text-decoration:none;

}