#canvasWrap {
    position: relative;
    z-index: 0;
}

#instructionsDiv {
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 100;
    width: 500px;
    height: 200px;
    background-color: rgba(240,123,22,0.6);
    display: none;
}

#scoreBoard {
    position: absolute;
    z-index: :100;
    top: 10px;
    width: 250px;
    height: 160px;
    font-size: 20px;
    background-color: rgba(240,123,22,0.6);
    border: 2px solid rgba(235,215,90,1);
    line-height: 30px;
}

div.horizontalLine {
    position: absolute;
    z-index: 100;
    width: 230px;
    height: 2px;
    background-color: rgba(94,230,153,1);
}

#horizontalLineFirst {
    top: 41px;
}

#horizontalLineSecond {
    top: 72px;
}

#horizontalLineThird {
    top: 103px;
}

#horizontalLineFourth {
    top: 134px;
}

#expandMeCanvas {
    z-index: 0;
}

button.generalButton {
    position: relative;
    width: 175px;
    height: 40px;
    background-color: rgba(94,230,153,1);
}

#gameInstructions {
    position: relative;
    height: 90px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(235,215,90,1);
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    overflow-x: hidden;
    overflow-y: auto;
}
